# Introduction to Databases and SQL #
## Databases ##
**Databases** are a collection of data that is stored in a computer system. Databases allow us to store, retrieve, and manipulate data. Databases are used in many applications, such as websites, mobile apps, and desktop applications. Databases use tables to store data. Each table has columns and rows. Columns represent the *attributes* of the data, and rows represent *individual records*.

## SQL ##
**SQL (Structured Query Language)** is a programming language used to interact with databases. SQL allows us to create, read, update, and delete data in a database. SQL is used to perform operations on databases, such as querying data, inserting data, updating data, and deleting data.

**The basic SQL commands are:**
- `SELECT`: Used to retrieve data from a database.
- `INSERT`: Used to insert data into a database.
- `UPDATE`: Used to update data in a database.



## Part 1 - Creating a table##
In the code below we will:
1. Connect to a new database (school.db) using duckdb.
2. Create a table called 'test' with one column: "num" which stores an integer. *Integers are whole numbers (ie. positive or negative but not a decimal)*
3. Insert some data into this table 
4. Query the table to see what we have inserted. 
5. Update the data in the table and query again to see the changes.
6. Close the connection to the database.

In [15]:
import duckdb

# 1. Create a new database called 'school.db' in the data folder, accessed through the con variable.
# If the database already exists, this code will connect to the existing database file.
con = duckdb.connect('../data/school.db')

In [6]:
# 2. Creating the table
# Only run this code once: if you run it again it will error (because the table already exists)
con.sql("CREATE TABLE test (num INTEGER)")

In [ ]:
# 3. This code will add a new row to the table each time you run it. You can run it as many times as you want.
# Change the number to add a different value to see this in action. 
con.sql("INSERT INTO test VALUES (69)")
# query the table
con.table("test").show()

In [ ]:
con.sql("UPDATE test SET num = 17 WHERE num = 42")
con.table("test").show()

In [18]:
# We want to close the connection to avoid any issues with the database file.
# In the future we will do this using 'with:' statements (which use a context manager). 
con.close()

## Additional SQL Commands ##
In addition to `SELECT`, `INSERT`, and `UPDATE`, there are other SQL commands that can be used to interact with databases. We already saw how to create a table, but there are also commands to delete a table (`DROP TABLE`), delete data from a table (`DELETE FROM`), and alter a table (`ALTER TABLE`). These commands can be used to modify the structure of a database, add or remove data, and perform other operations.

## Part 2 - Modifying and deleting from tables ##
In the code below we will:
1. Reconnect to the database (school.db) using a self-closing context managers.
2. Alter the table 'test' by adding a new column called "name" which stores text data as `VARCHAR`. Set the default value of this column to "Boris".
3. Insert some new data into this table and query
4. Delete some of the data from the table and query again to see the changes.
5. Drop the table 'test' and close the connection to the database.

In [ ]:
# 1. Using a context manager to avoid having to close the connection manually. We will do this every time
with duckdb.connect('../data/school.db') as con:
    # 2. Adding a new column to the table. NOTE: This will error if the column already exists (so only run it once)
    con.sql("ALTER TABLE test ADD COLUMN name VARCHAR DEFAULT 'Boris'")
    con.table('test').show()

In [ ]:
# 4. Add a row to the table. Feel free to use your own values.
with duckdb.connect('../data/school.db') as con:
    con.sql("INSERT INTO test VALUES (42, 'Alice')")
    con.table('test').show()

In [ ]:
# 5. Deleting rows. We'll get rid of the rows called "Boris"

with duckdb.connect('../data/school.db') as con:
    con.sql("DELETE FROM test WHERE name = 'Boris'")
    con.table('test').show()

In [ ]:
# 6. Dropping the table. This will delete the table and all its contents.
with duckdb.connect('../data/school.db') as con:
    con.sql("DROP TABLE test")
    # This will error because the table no longer exists
    con.table('test').show()

## Part 3 - Writing your own SQL ##
Now that we have cleared out our table, we can start to apply our knowledge of SQL to a real-world problem. In the code below we will:

1. Create a new table called 'students' with the following columns:
    - `id` (integer) - primary key
    - `firstname` (text) - the first name of the student
    - `lastname` (text) - the last name of the student
    - `age` (integer) - the age of the student
    - `yearlevel` (text) - the grade of the student
2. Insert some data into this table
    - Either put your own information or use a favourite fictional character
3. Query the table to see what we have inserted

Fill in the blanks in the code below to complete the tasks. Each task has its own cell to allow you to run and debug each operation separately

In [ ]:
# 1. Creating a new table called 'students' with five columns: id, firstname, lastname, age, and yearlevel.
with duckdb.connect('../data/school.db') as con:
    con.sql("CREATE TABLE students (id INTEGER PRIMARY KEY, firstname VARCHAR, ______)")
    con.table('students').show()

In [ ]:
# 2. Adding a row to the table.
with duckdb.connect('../data/school.db') as con:
    con.sql("INSERT INTO students VALUES (1, __________)")
    con.table('students').show()