In [45]:
import duckdb

with duckdb.connect('../data/cities.db') as con:
    con.execute("CREATE OR REPLACE TABLE cities AS SELECT * FROM read_csv_auto('../data/worldcities.csv');")
    con.execute("ALTER TABLE cities DROP COLUMN city_ascii;")
    con.execute("ALTER TABLE cities DROP COLUMN id;")
    con.execute("DELETE FROM cities WHERE population is NULL;")
    con.execute("DELETE FROM cities WHERE population < 5000")
    con.execute("ALTER TABLE cities DROP COLUMN iso2;")
    con.execute("ALTER TABLE cities DROP COLUMN admin_name;")
    con.execute("ALTER TABLE cities RENAME COLUMN iso3 TO country_code;")

In [46]:
with duckdb.connect('../data/cities.db') as con:
    result = con.sql("SELECT count(*) row_count FROM cities;")
    result.show()

┌───────────┐
│ row_count │
│   int64   │
├───────────┤
│     46748 │
└───────────┘

In [47]:
with duckdb.connect('../data/cities.db') as con:
    result = con.sql("SELECT *  FROM cities;")
    result.show()

┌────────────────┬─────────┬──────────┬───────────────┬──────────────┬─────────┬────────────┐
│      city      │   lat   │   lng    │    country    │ country_code │ capital │ population │
│    varchar     │ double  │  double  │    varchar    │   varchar    │ varchar │   int64    │
├────────────────┼─────────┼──────────┼───────────────┼──────────────┼─────────┼────────────┤
│ Tokyo          │ 35.6897 │ 139.6922 │ Japan         │ JPN          │ primary │   37732000 │
│ Jakarta        │  -6.175 │ 106.8275 │ Indonesia     │ IDN          │ primary │   33756000 │
│ Delhi          │   28.61 │    77.23 │ India         │ IND          │ admin   │   32226000 │
│ Guangzhou      │   23.13 │   113.26 │ China         │ CHN          │ admin   │   26940000 │
│ Mumbai         │ 19.0761 │  72.8775 │ India         │ IND          │ admin   │   24973000 │
│ Manila         │ 14.5958 │ 120.9772 │ Philippines   │ PHL          │ primary │   24922000 │
│ Shanghai       │ 31.2286 │ 121.4747 │ China         │ CHN          │ admin   │   24073000 │
│ São Paulo      │  -23.55 │ -46.6333 │ Brazil        │ BRA          │ admin   │   23086000 │
│ Seoul          │   37.56 │   126.99 │ Korea, South  │ KOR          │ primary │   23016000 │
│ Mexico City    │ 19.4333 │ -99.1333 │ Mexico        │ MEX          │ primary │   21804000 │
│   ·            │    ·    │     ·    │   ·           │  ·           │  ·      │        ·   │
│   ·            │    ·    │     ·    │   ·           │  ·           │  ·      │        ·   │
│   ·            │    ·    │     ·    │   ·           │  ·           │  ·      │        ·   │
│ Choshi         │ 35.7346 │ 140.8268 │ Japan         │ JPN          │ NULL    │      57533 │
│ Santa Maria    │    6.55 │   125.47 │ Philippines   │ PHL          │ NULL    │      57526 │
│ Decatur        │ 34.5731 │ -86.9905 │ United States │ USA          │ NULL    │      57525 │
│ Krasnotur’insk │ 59.7733 │  60.1853 │ Russia        │ RUS          │ NULL    │      57514 │
│ Palāsa         │ 18.7731 │  84.4078 │ India         │ IND          │ NULL    │      57507 │
│ Tokoname       │ 34.8865 │ 136.8323 │ Japan         │ JPN          │ NULL    │      57507 │
│ Ejmiatsin      │ 40.1728 │  44.2925 │ Armenia       │ ARM          │ NULL    │      57500 │
│ Lenexa         │ 38.9609 │ -94.8018 │ United States │ USA          │ NULL    │      57497 │
│ Wiwilí         │ 13.6167 │ -85.8333 │ Nicaragua     │ NIC          │ minor   │      57485 │
│ Guarabira      │  -6.855 │   -35.49 │ Brazil        │ BRA          │ minor   │      57484 │
├────────────────┴─────────┴──────────┴───────────────┴──────────────┴─────────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                                                   7 columns │
└───────────────────────────────────────────────────────────────────────────────────────────┘